.form__header {
  padding: 5px 15px;
  margin: 0 !important;
  border-bottom: 2px solid var(--black);
}

.custom-button-group { 
  display: flex;
  margin: 0 !important;
}

.custom-form__button {
  margin: 0 !important;
  border: 1px solid var(--black);
  border-radius: 0;
  flex-grow: 1;
  cursor: pointer;
  font-weight: 400;
}

.custom-form__button:hover, .custom-form__button:focus  {
  background-color: var(--hovered) !important;
}