:root {
  --black: #000;
  --white: #fff;
  --selected: #7F7FFF;
  --hovered: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 16px;
}

h1 { 
  font-size: 20px;
}
