.custom-select {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  margin: 0 !important;
  padding: 5px;
}

.custom-select__button {
  background: var(--white);
  border: none;
  width: 200px;
  text-align: start;
  cursor: pointer;
}

.custom-select__popover {
  border: 1px solid var(--black);
  background: var(--white);
}

.custom-select__listbox {
  font-family: adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Trebuchet MS, Lucida Grande, sans-serif;
}

.custom-listitem {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.custom-listitem:hover {
  background: var(--hovered);
}

.custom-listitem[data-selected] {
  background: var(--selected);
  color: var(--white);
}

.custom-listitem[data-selected]:hover {
  background: var(--selected);
}